body {
  background-color: #393E46;
  color: #4ECCA3;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  width: 70%;
  margin: auto;
}

a {
  color: #fff;
}

button {
  display: block;
  margin: 0 auto;
  background-color: #4ECCA3;
  color: #fff;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
}

button:hover {
  background-color: #009688;
}

footer {
  color: #eee;
}

.game-title {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.dice {
  display: inline-block;
  margin: 0 5%;
}
